

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

svg {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: block;
    border: 1px dashed lightcoral;
}

/* .Circle {
    animation: rotate 6s linear infinite;
    transform-origin: center;
}

@keyframes rotate {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
} */